doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  title Dojo Regex
  link(rel='stylesheet' href='css/reset.css')
  link(rel='stylesheet' href='css/reveal.css')
  link(rel='stylesheet' href='css/theme/white.css')
  // Theme used for syntax highlighting of code
  link(rel='stylesheet' href='lib/css/monokai.css')
  // Printing and PDF exports
  script.
    var link = document.createElement( 'link' );
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
    document.getElementsByTagName( 'head' )[0].appendChild( link );
.reveal
  .slides
    include slides/intro.pug
    include slides/a-savoir.pug
    include slides/outils.pug
    include slides/standard.pug
    include slides/ranges-metasequences.pug
    include slides/ou.pug
    section
      section Les flags
      section explications
      section exercice(s)
    section
      section Les ancres
      section explications
      section exercice(s)
    section
      section Les quantifieurs
      section explications
      section exercice(s)
    section
      section Lazy vs greedy
      section explications
      section exercice(s)
    section
      section Les groupes
      section explications
      section exercice(s)
    section
      section Les groupes
      section explications
      section exercice(s)
    section
      section Un mot sur les regex et la s&eacute;curit&eacute;
      section Un DDOS avec une Regex ?
      section Les &quot;Evil patterns&quot;
      section Exemples
      section Limiter la taille d&apos;input pour le traitement
      section Exemples
script(src='js/reveal.js')
script.
  // More info about config & dependencies:
  // - https://github.com/hakimel/reveal.js#configuration
  // - https://github.com/hakimel/reveal.js#dependencies
  Reveal.initialize({
  dependencies: [
  { src: 'plugin/markdown/marked.js' },
  { src: 'plugin/markdown/markdown.js' },
  { src: 'plugin/notes/notes.js', async: true },
  { src: 'plugin/highlight/highlight.js', async: true }
  ]
  });
