section
  div(class='toto') toto
  section
    | Regular Expressions, ce qu&apos;il y a &agrave; savoir
  section
    div Les RegEx permettent de d&eacute;crire un motif de correspondance
    img(src='./imgs/regExp1.png')
  section
    div Il y a de nombreux moteurs d&rsquo;expressions r&eacute;guli&egrave;res
    div Tous n&apos;impl&eacute;mentent pas toutes les specifications
    a(href='https://en.wikipedia.org/wiki/Comparison_of_regular_expression_engines#Part_1' target='_blank' rel='noopener noreferrer')
      img(src='./imgs/regExp2.png')