section
  section
    div Les ancres
    div
      span(style='color:green') ^ $
  section
    div Il y a 2 ancres :
    br
    div
      span(style='color:green') ^
      |  d&eacute;but du texte
    br
    div
      span(style='color:green') $
      |  fin du texte
  section
    div
      | Si le flag 
      span(style='color:orange') m
      |  est mis, alors les ancres passent en mode par ligne
    br
    div
      span(style='color:green') ^
      |  d&eacute;but de la ligne
    br
    div
      span(style='color:green') $
      |  fin de la ligne
  section
    div
      | Exemple : 
      br
      a(href='https://regex101.com/r/LCHoD5/2' target='_blank' rel='noopener noreferrer')
        | Essayez de rajouter/enlever le flag &apos;m&apos; pour
        | observer les ancres passer en mode par ligne
        img(src='./imgs/ancres.jpg')
  section exercice(s)
