section
  section
    h3 Maintenant les exercices !
    br
    div Il est l&apos;heure de pratiquer ce que vous avez vu
    br
    div N&apos;hésitez pas à revenir consulter les précédentes slides
  section
    div Exercice(s)
    br
    div Utilisation des expressions régulières
    br
    .simpleRowFlex
      div
        a(href='https://regex101.com/r/UvuCMG/1' target='_blank' rel='noopener noreferrer')
          | Commentaires de code
      div
        a(href='https://regex101.com/r/mhLWv7/1' target='_blank' rel='noopener noreferrer')
          | Noms de fonctions
      div
        a(href='https://regex101.com/r/YYdom8/1' target='_blank' rel='noopener noreferrer')
          | Bulletins de salaire
      div
        a(href='https://regex101.com/r/K4CyAc/1' target='_blank' rel='noopener noreferrer')
          | Signature de fonction