section
  section
    h3 Quoi ? Tu veux encore des exos ?
    br
    div T&apos;es de ceux qui prennent double portion &agrave; la cantine ?
    br
    div Ok d&apos;accord, tu l&apos;auras voulu, je te sers le rab
  section
    div Exercice(s) de rab, niveau 1
    br
    .simpleRowFlex
      div
        a(href='https://regex101.com/r/iQGuLr/1' target='_blank' rel='noopener noreferrer')
          | Exercice 1
      div
        a(href='https://regex101.com/r/wffn8S/1' target='_blank' rel='noopener noreferrer')
          | Exercice 2
      div
        a(href='https://regex101.com/r/iQGuLr/5' target='_blank' rel='noopener noreferrer')
          | Exercice 3
  section
    div Exercice(s) de rab, niveau 2
    br
    .simpleRowFlex
      div
        a(href='https://regex101.com/r/bZJ5zB/1' target='_blank' rel='noopener noreferrer')
          | Exercice 4
      div
        a(href='https://regex101.com/r/iQGuLr/4' target='_blank' rel='noopener noreferrer')
          | Exercice 5
  section
    div Exercice(s) de rab, niveau 3, encore faim ?
    br
    .simpleRowFlex
      div
        a(href='https://regex101.com/r/iQGuLr/6' target='_blank' rel='noopener noreferrer')
          | Exercice 6
