section
  section
    h1 Le mot de la fin
  section
    br
    div
      b Savoir se servir
      |  de quelque chose c&apos;est aussi savoir quand
      b &nbsp;ne pas
      |  s&apos;en servir
    br
    img(src='./imgs/seServirOuNon.jpg' style='width: 60%')
  section
    div On vous a fait pratiquer les RegExp pour l&apos;exercice
    br
    div Maintenant, ce n&apos;est normalement pas tr&egrave;s adapt&eacute; pour plusieurs cas d&apos;usages
    br
    div
      | Par exemple, pour v&eacute;rifier qu&apos;un input est un nombre (saisie textuelle) il est pr&eacute;f&eacute;rable de se servir de sa librairie standard
    br
    div Pour ne citer que le js : Number.isInteger pour les nombres entier par exemple
  section
    h2 Merci d&apos;avoir suivi ce dojo !
  section
    h2 Liens suppl&eacute;mentaires
    br
    div
      a(href='https://www.regular-expressions.info/tutorial.html' target='_blank' rel='noopener noreferrer')
        | https://www.regular-expressions.info/tutorial.html
