section
  section
    h2 Merci d&apos;avoir suivi ce dojo !
  section
    h2 Liens suppl&eacute;mentaires
    br
    div
      a(href='https://www.regular-expressions.info/tutorial.html' target='_blank' rel='noopener noreferrer')
        | https://www.regular-expressions.info/tutorial.html
