section
  section
    h2 Merci d&apos;avoir suivi ce dojo !
  section
    h3 Liens suppl&eacute;mentaires/compl&eacute;mentaires
    br
    div
      a(href='https://www.regular-expressions.info/tutorial.html') https://www.regular-expressions.info/tutorial.html