section
  section
    div Flags
    div
      span(style='color:orange') g m i
  section
    div Les 3 flags les plus utilis&eacute;s sont :
    div
      span(style='color:orange') g
      |  : global (ne s&apos;arr&ecirc;te pas au premier match)
    div
      span(style='color:orange') m
      |  : multi-lignes
    div
      span(style='color:orange') i
      |  : insensible &agrave; la casse
  section
    div
      a(href='https://regex101.com/r/xv8mD2/1' target='_blank' rel='noopener noreferrer')
        | Essayez de changer les flags
        img(src='./imgs/flagsEssayez.jpg')
  section
    div Exercice(s)
    br
    .simpleRowFlex
      div
        a(href='' target='_blank' rel='noopener noreferrer')
          | Exercice 1
      div
        a(href='' target='_blank' rel='noopener noreferrer')
          | Exercice 2
      div
        a(href='' target='_blank' rel='noopener noreferrer')
          | Exercice 3
