section
  section
    h1 Les groupes
    div
      span(style='color:red') ()
  section
    h2 Les groupes ont deux fonctions
    br
    div
      | Rassembler un ensemble de contraintes ensembles pour les quantifier/appliquer une logique
    br
    div Capturer des valeurs
  section
    h3 Rassembler les contraintes
    div
      | /
      span(style='color:blue') ab
      span(style='color:green') +
      | / et /
      span(style='color:red') (
      span(style='color:blue') ab
      span(style='color:red') )
      span(style='color:green') +
      | / sont interpr&eacute;t&eacute;s diff&eacute;remment
    table
      thead
        tr
          th Input
          th(style='color:grey') /ab+/
          th(style='color:grey') /(ab)+/
      tbody
        tr
          td ab
          td
            span(style='color:blue') ab
          td
            span(style='color:blue') ab
        tr
          td abb
          td
            span(style='color:blue') abb
          td
            span(style='color:blue') ab
            |b
        tr
          td abab
          td
            span(style='color:blue') ab
            |ab
          td
            span(style='color:blue') abab
        tr
          td abbbbbaaabbbbb
          td
            span(style='color:blue') abbbbb
            |aaabbbbb
          td
            span(style='color:blue') ab
            |bbbbaaabbbbb
  section
    div On peut aussi faire un &quot;OU&quot; avec des groupes
    br
    div
      | /
      span(style='color:blue') ab
      | |
      span(style='color:blue') cd
      | / et /
      span(style='color:blue') a
      span(style='color:red') (
      span(style='color:blue') b
      | |
      span(style='color:blue') c
      span(style='color:red') )
      span(style='color:blue') d
      | / sont interpr&eacute;t&eacute;s diff&eacute;remment
    br
    div
      | Le premier donne #[span(style='color:blue') ab] ou #[span(style='color:blue') cd]
    br
    div
      | Le second donne
      span(style='color:blue') &nbsp;a
      |  et
      span(style='color:red') &nbsp;(
      span(style='color:blue') b
      |  ou
      span(style='color:blue') &nbsp;c
      span(style='color:red') )
      |  et
      span(style='color:blue') &nbsp;d
  section
    h3 La capture en regex
    br
    div Par d&eacute;faut, les groupes sont #[strong capturants]
    br
    div Une regex permet de matcher un texte avec des contraintes donn&eacute;es
    br
    div
      | Les groupes capturants permettent d&apos;affiner des petits sous-ensemble et d&apos;extraire de l&apos;information
  section
    div
      | Exemple : /.+@(.*)/ va matcher un email simple et capturer le nom de domaine
    div
      a(href='https://regex101.com/r/HEbasp/3' target='_blank' rel='noopener noreferrer')
        img(style='width:45%' src='./imgs/match.jpg')
  section
    div Les captures peuvent ensuite &ecirc;tre utilis&eacute;es
    br
    div
      a(href='https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Objets_globaux/String/match#Exemples' target='_blank' rel='noopener noreferrer')
        | Dans votre code
  section
    div On peut aussi directement donner un texte de remplacement, comme sur Notepad++
    img(src='./imgs/remplacementsNotepad++.jpg')
  section
    div Ensuite dans le texte de remplacement, les captures sont num&eacute;rot&eacute;es
    div
      | Pour les remplacer dans un texte : $
      span(style='color:red') #
    div
      span(style='color:red') #
      |  &eacute;tant un nombre
    br
    div
      | $
      span(style='color:red') 0
      |  repr&eacute;sente le match complet
    div
      | $
      span(style='color:red') 1
      |  repr&eacute;sente la
      span(style='color:red') &nbsp;1
      | &egrave;re capture
    div
      | $
      span(style='color:red') 2
      |  la
      span(style='color:red') &nbsp;2
      | &egrave;me, ...etc
    br
    div
      a(href='https://regex101.com/r/bAXRBL/4' target='_blank' rel='noopener noreferrer')
        | Exemple de remplacements
  section
    div Parfois aussi on souhaite avoir un groupe sans matcher
    div
      | La syntaxe est alors :
      span(style='color:red') (?:)
    div Le groupe devient non-capturant
    br
    div
      a(href='https://regex101.com/r/XixkRd/3' target='_blank' rel='noopener noreferrer')
        | Exemple avec le site AXAFR pour extraire des formules et les prix associ&eacute;s
  section
    div Exercice(s)
    br
    .simpleRowFlex
      div
        a(href='https://regex101.com/r/8Wzjzg/2/' target='_blank' rel='noopener noreferrer')
          | Exercice 1
      div
        a(href='https://regex101.com/r/eqnNAF/3' target='_blank' rel='noopener noreferrer')
          | Exercice 2