section
  section
    h1 Dojo Regex
    div(style='display: flex; align-items: center; justify-content: space-between; margin: 15px 0px;')
      div(class='logo')
      div(style='font-size: 0.8em') Auteurs : R&eacute;mi Fruteau de Laclos, R&eacute;mi Boussu
  section
    h3 navigation dans la pr&eacute;sentation
    div
      div &darr; ou espace : slide suivante
      div &uarr; : slide pr&eacute;c&eacute;dente
      div &rarr; : chap&icirc;tre suivant
      div &larr; : chap&icirc;tre pr&eacute;c&eacute;dent
      div Echap : navigations parmis tous les slides
  section
    div La plupart des images sont cliquables !
    a(href='https://github.com/djedje72' target='_blank' rel='noopener noreferrer')
      img(style='width: 10%' src='./imgs/github.png')