section
  section
    div Ou
    div
      span(style='color:green') |
  section
    div Par d&eacute;faut, les regex font un &quot;ET&quot;
    div /abcd/ : je veux matcher a ET b ET c ET d
    div
      img(src='./imgs/etSimple.JPG')
    div
      | /
      span(style='color:green') [
      span(style='color:blue') abcd
      span(style='color:green') ]
      | d/ : matche un caract&egrave;re parmis abcd ET d
    div
      img(src='./imgs/et.JPG')
  section
    div
      | Avec 
      span(style='color:green') | 
      | on introduit la notion de &quot;OU&quot;
    div
      img(src='./imgs/ou.JPG')
  section exercice(s)