section
      section
        p M&ecirc;me avec de l&apos;exp&eacute;rience
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;les grandes RegExp sont dures &agrave; lire
        div(data-markdown='')
          | &grave;&grave;&grave;js
          | const regExp = /^(([^&lt;&gt;()\[\]\\.,;:\s@&quot;]+(\.[^&lt;&gt;()\[\]\\.,;:\s@&quot;]+)*)
          | |(&quot;.+&quot;))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])
          | |(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          | &grave;&grave;&grave;
      section
        | Il vaut mieux s&apos;aider d&apos;outils visuels !
      section
        a(href='https://regex101.com/' target='_blank' rel='noopener noreferrer')
          | Regex101
          img(src='./imgs/regex101.png')
      section
        a(href='https://www.debuggex.com/' target='_blank' rel='noopener noreferrer')
          | Debuggex
          img(src='./imgs/debuggex.png')
      section
        p
          | Je vous recommande pour les exercices &agrave; suivre d&apos;avoir au moins 
          a(href='https://regex101.com/' target='_blank' rel='noopener noreferrer') regex101
          |  d&apos;ouvert