section
  section
    h1 Les quantifieurs
  section
    div
      span(style='color:green') + * {1,5} {5} ?
  section
    div Les quantifieurs se mettent apr&egrave;s :
    br
    div
      | Un caract&egrave;re /
      span(style='color:blue') a
      span(style='color:green') +
      | /
    br
    div
      | Un groupe /
      span(style='color:red')
        | (
        span(style='color:blue') ab
        | )
      span(style='color:green') +
      | /
    br
    div
      | Un ensemble /
      span(style='color:green') [
      span(style='color:blue') ab
      span(style='color:green') ]
      span(style='color:green') +
      | /
  section
    div
      span(style='color:green') +
      |  &quot;1 et plus&quot;
    div
      span(style='color:green') *
      |  &quot;0 et plus&quot;
    div
      span(style='color:green') {5}
      |  &quot;5 exactement&quot;
    div
      span(style='color:green') {5,8}
      |  &quot;de 5 &agrave; 8&quot;
    div
      span(style='color:green') ?
      |  &quot;0 ou 1&quot;
  section
    div Exercice(s)
    br
    .simpleRowFlex
      div
        a(href='https://regex101.com/r/eqnNAF/1' target='_blank' rel='noopener noreferrer')
          | Exercice 1
      div
        a(href='https://regex101.com/r/eqnNAF/2' target='_blank' rel='noopener noreferrer')
          | Exercice 2
      div
        a(href='https://regex101.com/r/beMH6k/1' target='_blank' rel='noopener noreferrer')
          | Exercice 3
