section
  section
    h1 Les ranges et les m&eacute;ta-s&eacute;quences
    div
      span(style='color:green') [
      span(style='color:blue') abcd
      span(style='color:green') ]
      span &nbsp;
      span(style='color:green') [
      span(style='color:blue') a
      span(style='color:red') -
      span(style='color:blue') d
      span(style='color:green') ]
      span &nbsp;
      span(style='color:green') [
      span ^
      span(style='color:blue') a
      span(style='color:red') -
      span(style='color:blue') d
      span(style='color:green') ]
  section
    div
      | Les ranges d&eacute;crivent un ensemble et sont encadr&eacute;s par des
      span(style='color:green') [
      span(style='color:green') ]
    div
      | Exemple :
      span(style='color:green') [
      span(style='color:blue') abcd
      span(style='color:green') ]
    br
    div
      | Je veux matcher un caract&egrave;re parmi ceux-ci :
      span(style='color:blue') abcd
  section
    div
      | Il est &eacute;galement possible de d&eacute;crire un ensemble avec la syntaxe
      span(style='color:green') [
      span(style='color:blue') debut
      span(style='color:red') -
      span(style='color:blue') fin
      span(style='color:green') ]
    br
    div
      | Exemple :
      span(style='color:green') [
      span(style='color:blue') a
      span(style='color:red') -
      span(style='color:blue') d
      span(style='color:green') ]
    br
    div
      | Je veux matcher un caract&egrave;re entre
      span(style='color:blue') a
      |  et
      span(style='color:blue') d
  section
    div
      | Les ranges
      span(style='color:green') [
      span(style='color:blue') debut
      span(style='color:red') -
      span(style='color:blue') fin
      span(style='color:green') ]
      |             fonctionnent
    div avec les num&eacute;ros de caract&egrave;res unicode
    br
    div
      | Exemple :
      span(style='color:green') [
      span(style='color:blue') &#x3042;
      span(style='color:red') -
      span(style='color:blue') &#x3096;
      span(style='color:green') ]
    div
      | Je veux matcher un caract&egrave;re entre
      span(style='color:blue') le caract&egrave;re &#x3042; de code unicode 12354
      |  et
      span(style='color:blue') le caract&egrave;re &#x3096; de code unicode 12438
    br
    div
      | Pour avoir la liste des caract&egrave;res et de leurs index,
      a(href='https://unicode-table.com/fr/#30B5' target='_blank' rel='noopener noreferrer') ce site est pas mal
  section
    div
      | Il existe aussi l&apos;op&eacute;ration inverse : matcher un caract&egrave;re qui ne fait pas parti d&apos;un ensemble
    br
    div
      | Cela s&apos;&eacute;crit de la mani&egrave;re suivante :
      span(style='color:green') [
      span ^
      span(style='color:blue') debut
      span(style='color:red') -
      span(style='color:blue') fin
      span(style='color:green') ]
    br
    div
      | Exemple :
      span(style='color:green') [
      span ^
      span(style='color:blue') a
      span(style='color:red') -
      span(style='color:blue') d
      span(style='color:green') ]
    div
      | Je veux matcher un caract&egrave;re qui ne se situe pas entre
      span(style='color:blue') a
      |  et
      span(style='color:blue') d
  section
    div
      | Un
      span(style='color:green') [
      span(style='color:green') ]
      |  supporte tr&egrave;s bien de multiples
      |             ranges
    div
      | Exemple :
      span(style='color:green') [
      span(style='color:blue')
        | a
        span(style='color:red') -
        | defg0
        span(style='color:red') -
        | 9
      span(style='color:green') ]
    div
      span(style='color:green') [
      | ^
      span(style='color:blue')
        | a
        span(style='color:red') -
        | deEfFgO
        span(style='color:red') -
        | Z
      span(style='color:green') ]
  section
    div Exercice(s)
    br
    .simpleRowFlex
      div
        a(href='https://regex101.com/r/beMH6k/1' target='_blank' rel='noopener noreferrer')
          | Exercice 1
      div
        a(href='https://regex101.com/r/0NdaXi/2' target='_blank' rel='noopener noreferrer')
          | Exercice 2
      div
        a(href='https://regex101.com/r/s2HRMf/2' target='_blank' rel='noopener noreferrer')
          | Exercice 3
  section
    div Les m&eacute;ta-s&eacute;quences
    div
      span(style='color:blue') .
      span(style='color:blue') \w
      span(style='color:blue') \W
      span(style='color:blue') \d
      span(style='color:blue') \D
  section
    div Une m&eacute;tas&eacute;quence est un alias pour un ensemble
    br
    div
      | Par exemple
      span(style='color:blue') &nbsp;\d
      |  correspond &agrave; un ensemble d&eacute;crivant un chiffre
    div
      | Selon les impl&eacute;mentations, cela peut &eacute;quivaloir &agrave;
      span(style='color:green') &nbsp;[
      span(style='color:blue')
        | 0
        span(style='color:red') -
        | 9
      span(style='color:green') ]
    br
    div
      | Mais
      span(style='color:orange') &nbsp;attention
      | , en python3 par exemple
      span(style='color:blue') &nbsp;\d&nbsp;
      | matche aussi les autres num&eacute;riques dans d&apos;autres langages comme &#x660;&#x661;&#x662;&#x663;&#x664;&#x665;&#x666;&#x667;&#x668;&#x669;
  section
    div
      span(style='color:blue') .
      |  : N&apos;importe quel caract&egrave;re sauf fin de ligne
    br
    div
      span(style='color:blue') \d
      |  : un chiffre
    br
    div
      span(style='color:blue') \D
      |  : un caract&egrave;re non-chiffre
    br
    div
      span(style='color:blue') \w
      |  : un caract&egrave;re alphanum&eacute;rique
    br
    div
      span(style='color:blue') \W
      |  : l&apos;inverse de \w
  section
    div
      | Les m&eacute;tas&eacute;quences peuvent &ecirc;tre utilis&eacute;es dans un
      span(style='color:green') [
      span(style='color:green') ]
    div
      | Exemple :
      span(style='color:green') [
      span(style='color:blue') \W\d
      span(style='color:green') ]
    div
      a(href='https://regex101.com/r/JuyzKL/1' target='_blank' rel='noopener noreferrer')
        img(src='./imgs/metaSeq.jpg')
  section
    div M&ecirc;me exercice(s), mais avec les m&eacute;tas&eacute;quences
    br
    .simpleRowFlex
      div
        a(href='https://regex101.com/r/beMH6k/1' target='_blank' rel='noopener noreferrer')
          | Exercice 1
      div
        a(href='https://regex101.com/r/BJVKwj/1' target='_blank' rel='noopener noreferrer')
          | Exercice 2
      div
        a(href='https://regex101.com/r/0NdaXi/1' target='_blank' rel='noopener noreferrer')
          | Exercice 3
      div
        a(href='https://regex101.com/r/s2HRMf/1' target='_blank' rel='noopener noreferrer')
          | Exercice 4
