section
      section
        p Par d&eacute;faut la regex va tenter de matcher 
        p tous les caract&egrave;res exactement
        img(src='imgs/bonjour.png')
      section
        p Sauf que cela ne suffisait pas pour d&eacute;crire
        p des ensembles, sous-ensembles, et avoir
        p un peu de logique
      section
        p Du coup, il y a beaucoup de caract&egrave;res sp&eacute;ciaux
        p qui ne peuvent pas &ecirc;tre utilis&eacute;s directement
        p Pour matcher dessus, il faut les &eacute;chapper avec un \
        img(src='imgs/match(.PNG')