section
  section
    h1 Les caract&egrave;res sp&eacute;ciaux
    div
      span(style='color:green') \ ^ $ . | ? * + ( ) [ {
  section
    p Par d&eacute;faut la regex va tenter de matcher
    p tous les caract&egrave;res exactement
    a(href='https://regex101.com/r/MgjCmQ/1' target='_blank' rel='noopener noreferrer')
      img(src='imgs/bonjour.png')
  section
    p Sauf que cela ne suffisait pas pour d&eacute;crire
    p des ensembles, sous-ensembles, et avoir
    p un peu de logique
  section
    p Pour matcher sur ces 8 caract&egrave;res sp&eacute;ciaux
    p il faut les &eacute;chapper avec un
    span(style='color:green') &nbsp;\
    a(href='https://regex101.com/r/cP6Mov/1' target='_blank' rel='noopener noreferrer')
      img(src='imgs/match(.png')